#menu a {
	color: white;
}
#menu .menu1 {
	background-color: rgb(43,94,159);
}
#menu .menu2 {
	background-color: rgb(131,144,169);
}
#menu .menu3 {
	background-color: rgb(222,222,221);
}
#menu .menu3 a {
	color: black;
}
#menu .menu4 {
	background-color: rgb(129,149,162);
}
#menu .menu5 {
	background-color: rgb(5,119,119);
}
#logo {
	background-image: url('../img/logo-mielsRoom.gif');
}
